body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient( rgba(19, 17, 17, 0.8), rgba(0, 0, 0, 0.5) ), url('./source/bg.jpg');
    background-attachment: fixed;  
    background-position: center;
    scroll-behavior: smooth;                            
}

ul {
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0;
}
a {
    color: white;
}

.page-header {
    display: flex;
    font-family: "Comfortaa", sans-serif;
    color: white;
    height: 100vh;
}

.page-header__img{
    height: 400px;
    border-radius: 25px;
    z-index: 20;
}

.greetings {
    padding-left: 60px;
    margin-top: 50px;
    overflow: hidden;
    margin-right: auto;
}

.greetings__title{
    font-weight: normal;
    font-size: 30px;
    animation: toRightFromImage alternate 1.5s;
    z-index: 10;
}

.bold {
    font-weight: bold;
}

.greetings__text{
    font-size: 18px;
    animation: toRightFromImage forwards 1.5s 1.5s;
    visibility: hidden;
}

/* TODO:
1. New hyperlink with arrow instead 'about me' */

.info {
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", sans-serif;
    color: white;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 50px;
}

.experience {
    text-align: center;
    line-height: 40px;
    margin-left: 5%;
    max-width: 30%;
}

.experience__list {
    list-style: none;
    font-size: 20px;
}

.experience__list li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 182px;
}

.experience__list li:first-child{
    border-top: 1px solid white;
}

.experience__element {
    display: inline-block;
}

.info-title {
    font-size: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
}


.hobby {
    text-align: center;
    line-height: 40px;
    max-width: 30%;
    margin-right: 5%;
    margin-left: 10px;
}

.lang {
    position: absolute;
    left: 5%;
    top: 20px;
}

.education {
    text-align: center;
    line-height: 40px;
    max-width: 30%;
    margin-left: 10px;
}

.lang__button {
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.lang__active {
    text-decoration: underline;
}

.lang__button:not(.lang__active):hover {
    transform: scale(1.1);
    cursor: pointer;
}

.swiper {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 5%;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #fff;
    opacity: 100%;
}

.info {
    color: white;
}

.skills-title {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.next {
    position: absolute;
    animation: bounce alternate-reverse 1s infinite 1s;
    bottom: 0;
    left: 50vw;
}
.next__arrow {
    width: 30px;
    height: 30px;
}

.main-skill {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(72, 77, 100, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 100px;
}

.main-skill:last-child {
    margin-bottom: 40px;
}
.hidden {
    display: none !important;
}
@keyframes toRightFromImage{
    from{
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes bounce {
    from {
      transform: translateY(-20px);  
    }
    to {
      transform: translateY(10);
    }
}

@media (max-width: 950px) {
    .page-header {
        flex-direction: column;
    }
    .page-header__img {
        height: 200px;
    }

    .swiper {
        width: 200px;
        height: 200px;
        margin-right: auto;
        margin-top: 15px;
    }

    .greetings__title {
        font-size: 20px;
    }
    .greetings {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0;
        overflow: visible;
        padding: 0;
        text-align: center;
    }

    .greetings__text {
        font-size: 15px;
        margin: 8px 0;
    }

    .why__link {
        font-size: 20px;
    }

    .lang {
        top: 0;
        left: 0;
    }

}